$font-stack: Arial, Helvetica, sans-serif;
$light-color:#3a45aa;
$primary-color: blue;
//$primary-color: white;
$secondary-color: #c1c1da;
$btn-color: rgb(217, 217, 240);

%btn{
    display: inline-block;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 3px;
   
    &:hover{
        transform: scale(.98);
    }
}
.btn-primary{
    @extend %btn;
    background-color: lignten($primary-color, 10%);
}
.btn-secondary{
    @extend %btn;
    background-color: $secondary-color;
}
//IMP - Set text color based on background
@function set-text-color($color){
    @if(lightness($color) > 70) {
        @return #333;
    }

    @else {
        @return #fff;
    }
}
//mixin in sass-Set background & text color 
@mixin set-background($color){
    background-color: $color;
    color: set-text-color($color);
}
